<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eu-Tech Eucalyptus Disease Diagnosis System | </title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- jVectorMap -->
    <link href="/gent/css/maps/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>

    <!-- Datatables -->
    <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">


    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="nav-md">
    <div class="container body">
      <% if(user) {%>
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><img src="/img/eutech_white_bw_trans.png" style="width:32pt"> <span>Eu-Tech EDDS</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="<%= user.local.gravatar %>" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><%= user.local.firstname %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br /><br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/">EDDS Dashboard</a></li>
                      <% if(user.local.admin) { %>
                      <li><a href="/eutech/eucaImages">Image Dashboard</a></li>
                      <li><a href="/eutech/diseases">System Setup</a></li>
                      <% } %>
                      <!--<li><a href="index3.html">Dashboard3</a></li>-->
                    </ul>
                  </li>

                  <li><a><i class="fa fa-table"></i> Job Summary <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <% if(user.local.admin) { %>
                      <li><a href="/eutech/breedingJobs/">Screening Job (admin)</a></li>
                      <% } %>
                      <% if(user.local.staff) { %>
                      <li><a href="/eutech/breedingJobs/<%= user.local.email %>">Screening Job (staff)</a></li>
                      <% } %>
                      <% if(user.local.validator) { %>
                      <li><a href="/eutech/invalidatedImages">Invalidated Image Summary</a></li>
                      <% } %>
                      <!--<li><a href="tables_dynamic.html">Table Dynamic</a></li>-->
                    </ul>
                  </li>

                  <% if(user.local.admin) {%>
                  <li><a><i class="fa fa-gear"></i> System Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/users">Manage Users</a></li>
                    </ul>
                  </li>
                  <% } %>

                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="<%= user.local.gravatar %>" alt=""><%= user.local.firstname %> <%= user.local.lastname %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/profile"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total Images</span>
              <div class="count"><%= edds[edds.length - 1].total_images %></div>
              <span class="count_bottom"><i class="green">+<%= edds[edds.length -1].total_images_today %> </i> for Today</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Validated Images</span>
              <div class="count"><%= edds[edds.length - 1].total_validated_images %></div>
              <span class="count_bottom"><i class="green">+<%= edds[edds.length -1].total_validated_images_today %> </i> for Today</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Invalidated Images</span>
              <div class="count"><a href="/eutech/invalidatedImages"><%= edds[edds.length - 1].total_invalidated_images %></a></div>
              <!--<span class="count_bottom"><i class="green">+<%= edds[edds.length -1].total_invalidated_images_today %> </i> for Today</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-check-circle-o"></i> Average Accuracy</span>
              <div class="count"><%= edds[edds.length - 1].total_accuracy %>%</div>
              <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span> -->
            </div>
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total Xantho</span>
              <div class="count green">1,290</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total Cylindro</span>
              <div class="count">327</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>
            </div> -->
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total Crypto</span>
              <div class="count">1,104</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>-->
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total Images</span>
              <div class="count">7,325</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>24% </i> From last Week</span>
            </div>-->
          </div>

          <!-- /top tiles -->
          <!-- /second-row tiles -->
          <div class="row tile_count">
            <% for(var i=0;i< diseaseList.length; i++) { %>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total <%= edds[edds.length - 1].diseases[i].disease_label %></span>
              <div class="count"><%= edds[edds.length - 1].diseases[i].total_images %></div>
              <span class="count_bottom"><i class="green">+<%= edds[edds.length -1].diseases[i].total_images_today %> </i> for Today</span>
            </div>
            <% } %>
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total Crypto</span>
              <div class="count">1,104</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
            </div>-->
            <!--<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-file-image-o"></i> Total Images</span>
              <div class="count">7,325</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>24% </i> From last Week</span>
            </div>-->
          </div>
          <!-- second row tiles -->



          <div class="row">


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Disease Classification Accuracy</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <% for(var i=0;i< diseaseList.length; i++) { %>
                    <div class="widget_summary">
                      <div class="w_left w_25">
                        <span><%= edds[edds.length-1].diseases[i].disease_label %></span>
                      </div>
                      <div class="w_center w_55">
                        <div class="progress">
                          <% if(edds[edds.length-1].diseases[i].total_accuracy < 50) { %>
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=edds[edds.length-1].diseases[i].total_accuracy %>%;">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          <%} else if(edds[edds.length-1].diseases[i].total_accuracy < 90) { %>
                          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=edds[edds.length-1].diseases[i].total_accuracy %>%;">
                            <span class="sr-only">60% Complete</span>
                          </div>
                          <%} else { %>
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=edds[edds.length-1].diseases[i].total_accuracy %>%;">
                              <span class="sr-only">60% Complete</span>
                            </div>
                          <% } %>
                        </div>
                      </div>
                      <div class="w_right w_20">
                        <span><%=edds[edds.length - 1].diseases[i].total_accuracy %>%</span>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  <% } %>
                  <!--<h4>Disease Classification Accuracy</h4>-->
                  <!--<div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Xantho</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>42%</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Cylindro</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>65%</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Crypto</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>23%</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Phaeo</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>4%</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="widget_summary">
                    <div class="w_left w_25">
                      <span>Cerco</span>
                    </div>
                    <div class="w_center w_55">
                      <div class="progress">
                        <div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </div>
                    <div class="w_right w_20">
                      <span>1%</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>-->

                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320 overflow_hidden">
                <div class="x_title">
                  <h2>Image Number by Diseases</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <table class="" style="width:100%">
                    <tr>
                      <th style="width:37%;">
                        <p>Diseases</p>
                      </th>
                      <th>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                          <p class="">Disease</p>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                          <p class="">% Total</p>
                        </div>
                      </th>
                    </tr>
                    <tr>
                      <td>
                        <canvas id="canvas1" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                        <!--<div id="echart_pie2" style="height:140px;"></div>-->
                      </td>
                      <td>
                        <table class="tile_info">
                          <% for(var i=0; i<diseaseList.length; i++) {%>
                          <tr>
                            <td>
                              <p><i class="fa fa-square"></i><%= diseaseList[i].disease_label %></p>
                            </td>
                            <td><%= ((edds[edds.length-1].diseases[i].total_images/edds[edds.length-1].total_images)*100).toFixed(2) %>%</td>
                          </tr>
                          <% } %>
                          <!--<tr>
                            <td>
                              <p><i class="fa fa-square green"></i>ศรีไทย </p>
                            </td>
                            <td>10%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square purple"></i>สงวนศักดิ์ </p>
                            </td>
                            <td>20%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square aero"></i>รักชาติ </p>
                            </td>
                            <td>15%</td>
                          </tr>
                          <tr>
                            <td>
                              <p><i class="fa fa-square red"></i>อื่น ๆ </p>
                            </td>
                            <td>30%</td>
                          </tr> -->
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile fixed_height_320">
                <div class="x_title">
                  <h2>Number of Images vs Validated Images</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <canvas id="mybarChart"></canvas>
                </div>
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="x_panel">
                  <div class="x_title">
                    <h2>Latest 20 Eucalyptus Disease Images List <small>admin</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table id="datatable-buttons" class="table table-striped table-bordered">
                      <thead class="thead-inverse">
                        <tr>
                          <th class="text-center" style="vertical-align:top;">Job ID</th>
                          <th class="text-center" style="vertical-align:top;">Submit</th>
                          <!--<th class="text-center" style="vertical-align:top;">Filename</th>-->
                          <th class="text-center" style="vertical-align:top;">Type</th>
                          <th class="text-center" style="vertical-align:top;">Stage</th>
                          <th class="text-center" style="vertical-align:top;">Level</th>
                          <th class="text-center" style="vertical-align:top;">Area (%)</th>
                          <th class="text-center" style="vertical-align:top;">Validation</th>
                          <th class="text-center" style="vertical-align:top;">Validator</th>
                          <th class="text-center" style="vertical-align:top;">View</th>
                        </tr>
                      </thead>
                      <tbody>
                    <% for(var i=0; i<eucaImages.length; i++) {%>
                      <% if(user.local.admin) { %>
                      <tr>
                        <td class="text-center" style="vertical-align:middle;"><%= eucaImages[i].jobId %></td>
                        <td class="text-center" style="vertical-align:middle;"><%= eucaImages[i].submit %></td>
                        <!--<td class="text-center" style="vertical-align:middle;">
                          <%= eucaImages[i].filename %>
                        </td>-->
                        <td class="text-center" style="vertical-align:middle;">
                          <%= eucaImages[i].diseaselabel %>
                        </td>
                        <td class="text-center" style="vertical-align:middle;">
                          <%= eucaImages[i].stag %>
                        </td>
                        <td class="text-center" style="vertical-align:middle;">
                          <%= eucaImages[i].level %>
                        </td>
                        <td class="text-center" style="vertical-align:middle;">
                          <%= eucaImages[i].area %>
                        </td>
                        <td class="text-center" style="vertical-align:middle;">
                          <% if(eucaImages[i].validated) { %>
                            <i class="fa fa-check" aria-hidden="true"></i>
                          <% } else { %>
                            <i class="fa fa-times" aria-hidden="true"></i>
                          <% } %>
                        </td>
                        <td class="text-center" style="vertical-align:middle;">
                          <%= eucaImages[i].validator %>
                        </td>
                        <td  class="text-center" style="vertical-align:middle;">
                          <a href="/eutech/eucaImages/<%= eucaImages[i].imageId %>"><i class="fa fa-eye"></i></a>
                          <!--<form class="form-inline" action="/eutech/eucaImages/<%= eucaImages[i].imageId %>" method="get">
                              <button type="submit" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp &nbsp View </button>
                          </form>-->
                          <!--</form>-->
                        </td>
                      </tr>
                      <% } else { %>
                        <% if(eucaImages[i].submitter == user.local.email) { %>
                          <tr>
                            <td class="text-center" style="vertical-align:middle;"><%= eucaImages[i].jobId %></td>
                            <td class="text-center" style="vertical-align:middle;"><%= eucaImages[i].submit %></td>
                            <!--<td class="text-center" style="vertical-align:middle;">
                              <%= eucaImages[i].filename %>
                            </td>-->
                            <td class="text-center" style="vertical-align:middle;">
                              <%= eucaImages[i].diseaselabel %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= eucaImages[i].stag %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= eucaImages[i].level %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= eucaImages[i].area %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <% if(eucaImages[i].validated) { %>
                                <i class="fa fa-check" aria-hidden="true"></i>
                              <% } else { %>
                                <i class="fa fa-times" aria-hidden="true"></i>
                              <% } %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= eucaImages[i].validator %>
                            </td>
                            <td  class="text-center" style="vertical-align:middle;">
                              <a href="/eutech/eucaImages/<%= eucaImages[i].imageId %>"><i class="fa fa-eye"></i></a>
                              <!--<form class="form-inline" action="/eutech/eucaImages/<%= eucaImages[i].imageId %>" method="get">
                                  <button type="submit" class="btn btn-info"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp &nbsp View </button>
                              </form>-->
                              <!--</form>-->
                            </td>
                          </tr>
                        <% } %>
                    <% } %>
                    <% } %>
                  </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                      <h2>Latest 20 Disease Screening Job List <small>admin</small></h2>
                      <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                      <table id="datatable-buttons2" class="table table-striped table-bordered">
                        <thead class="thead-inverse">
                          <tr>
                            <th class="text-center" style="vertical-align:top;">Job Id</th>
                            <th class="text-center" style="vertical-align:top;">Owner</th>
                            <th class="text-center" style="vertical-align:top;">Culture</th>
                            <th class="text-center" style="vertical-align:top;">Culturing date</th>
                            <th class="text-center" style="vertical-align:top;">Collecting date</th>
                          </tr>
                        </thead>
                        <tbody>
                      <% for(var i=0; i<screeningJobs.length; i++) {%>
                        <% if(user.local.admin) { %>
                        <tr>
                          <td class="text-center" style="vertical-align:middle;"><a href="/eutech/breedingJob/<%= screeningJobs[i]._id %>"><%= screeningJobs[i].jobId %></a></td>
                          <td class="text-center" style="vertical-align:middle;">
                            <%= screeningJobs[i].photographer %>
                          </td>
                          <td class="text-center" style="vertical-align:middle;">
                            <%= screeningJobs[i].culture %>
                          </td>
                          <td class="text-center" style="vertical-align:middle;">
                            <%= moment(screeningJobs[i].breedingdate).format('Do MMM, YYYY') %>
                          </td>
                          <td class="text-center" style="vertical-align:middle;">
                            <%= moment(screeningJobs[i].collectingdate).format('Do MMM, YYYY') %>
                          </td>
                        </tr>
                        <% } else { %>
                          <% if(screeningJobs[i].photographer == user.local.email) { %>
                          <tr>
                            <td class="text-center" style="vertical-align:middle;"><a href="/eutech/breedingJob/<%= screeningJobs[i]._id %>"><%= screeningJobs[i].jobId %></a></td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= screeningJobs[i].photographer %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= screeningJobs[i].culture %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= moment(screeningJobs[i].breedingdate).format('Do MMM, YYYY') %>
                            </td>
                            <td class="text-center" style="vertical-align:middle;">
                              <%= moment(screeningJobs[i].collectingdate).format('Do MMM, YYYY') %>
                            </td>
                          </tr>
                        <% } %>
                      <% } %>
                      <% } %>
                    </tbody>
                      </table>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- ECharts -->
    <script src="../vendors/echarts/dist/echarts.min.js"></script>
    <script src="../vendors/echarts/map/js/world.js"></script>
    <!-- gauge.js -->
    <script src="/vendors/bernii/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="/vendors/Flot/jquery.flot.js"></script>
    <script src="/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="/js/flot/jquery.flot.orderBars.js"></script>
    <script src="/js/flot/date.js"></script>
    <script src="/js/flot/jquery.flot.spline.js"></script>
    <script src="/js/flot/curvedLines.js"></script>
    <!-- jVectorMap -->
    <script src="/js/maps/jquery-jvectormap-2.0.3.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="/js/moment/moment.min.js"></script>
    <script src="/js/datepicker/daterangepicker.js"></script>

    <!-- Datatables -->
    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>

    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "/js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->

    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons2").length) {
            $("#datatable-buttons2").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "/js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->

    <!-- Flot -->
    <script>
      $(document).ready(function() {
        var data1 = [
          [gd(2012, 1, 1), 17],
          [gd(2012, 1, 2), 74],
          [gd(2012, 1, 3), 6],
          [gd(2012, 1, 4), 39],
          [gd(2012, 1, 5), 20],
          [gd(2012, 1, 6), 85],
          [gd(2012, 1, 7), 7]
        ];

        var data2 = [
          [gd(2012, 1, 1), 82],
          [gd(2012, 1, 2), 23],
          [gd(2012, 1, 3), 66],
          [gd(2012, 1, 4), 9],
          [gd(2012, 1, 5), 119],
          [gd(2012, 1, 6), 6],
          [gd(2012, 1, 7), 9]
        ];
        $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
          data1, data2
        ], {
          series: {
            lines: {
              show: false,
              fill: true
            },
            splines: {
              show: true,
              tension: 0.4,
              lineWidth: 1,
              fill: 0.4
            },
            points: {
              radius: 0,
              show: true
            },
            shadowSize: 2
          },
          grid: {
            verticalLines: true,
            hoverable: true,
            clickable: true,
            tickColor: "#d5d5d5",
            borderWidth: 1,
            color: '#fff'
          },
          colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
          xaxis: {
            tickColor: "rgba(51, 51, 51, 0.06)",
            mode: "time",
            tickSize: [1, "day"],
            //tickLength: 10,
            axisLabel: "Date",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
          },
          yaxis: {
            ticks: 8,
            tickColor: "rgba(51, 51, 51, 0.06)",
          },
          tooltip: false
        });

        function gd(year, month, day) {
          return new Date(year, month - 1, day).getTime();
        }
      });
    </script>
    <!-- /Flot -->

    <!-- jVectorMap -->
    <script src="/js/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/js/maps/jquery-jvectormap-us-aea-en.js"></script>
    <script src="/js/maps/gdp-data.js"></script>
    <script>
      $(document).ready(function(){
        $('#world-map-gdp').vectorMap({
          map: 'world_mill_en',
          backgroundColor: 'transparent',
          zoomOnScroll: false,
          series: {
            regions: [{
              values: gdpData,
              scale: ['#E6F2F0', '#149B7E'],
              normalizeFunction: 'polynomial'
            }]
          },
          onRegionTipShow: function(e, el, code) {
            el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
          }
        });
      });
    </script>
    <!-- /jVectorMap -->

    <!-- Skycons -->
    <script>
      $(document).ready(function() {
        var icons = new Skycons({
            "color": "#73879C"
          }),
          list = [
            "clear-day", "clear-night", "partly-cloudy-day",
            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
            "fog"
          ],
          i;

        for (i = list.length; i--;)
          icons.set(list[i], list[i]);

        icons.play();
      });
    </script>
    <!-- /Skycons -->

    <!-- bar chart -->
    <script>
    // Bar chart
    var ctx = document.getElementById("mybarChart");
    var mybarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: [
          <% for(var i=0;i<diseaseList.length;i++) {%>
            "<%=  edds[edds.length-1].diseases[i].disease_label %>",
          <% } %>
        ],
        datasets: [{
          label: 'Total Images',
          backgroundColor: "#26B99A",
          data: [
            <% for(var i=0;i<diseaseList.length;i++) {%>
              <%=  edds[edds.length -1].diseases[i].total_images %>,
            <% } %>
            ]
        }, {
          label: 'Validated Images',
          backgroundColor: "#03586A",
          data: [
            <% for(var i=0;i<diseaseList.length;i++) {%>
              <%=  edds[edds.length -1].diseases[i].total_validated_images %>,
            <% } %>
          ]
        }]
      },

      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        }
      }
    });
    </script>
    <!-- end bar chart -->

    <!-- Pie chart -->
    <script>
    var echartPieCollapse = echarts.init(document.getElementById('echart_pie2'), theme);

    echartPieCollapse.setOption({
      tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b} : {c} ({d}%)"
      },
      legend: {
        x: 'center',
        y: 'bottom',
        data: ['rose1', 'rose2', 'rose3', 'rose4', 'rose5', 'rose6']
      },
      toolbox: {
        show: true,
        feature: {
          magicType: {
            show: true,
            type: ['pie', 'funnel']
          },
          restore: {
            show: true,
            title: "Restore"
          },
          saveAsImage: {
            show: true,
            title: "Save Image"
          }
        }
      },
      calculable: true,
      series: [{
        name: 'Area Mode',
        type: 'pie',
        radius: [25, 90],
        center: ['50%', 170],
        roseType: 'area',
        x: '50%',
        max: 40,
        sort: 'ascending',
        data: [{
          value: 10,
          name: 'rose1'
        }, {
          value: 5,
          name: 'rose2'
        }, {
          value: 15,
          name: 'rose3'
        }, {
          value: 25,
          name: 'rose4'
        }, {
          value: 20,
          name: 'rose5'
        }, {
          value: 35,
          name: 'rose6'
        }]
      }]
    });
  </script>
    <!-- end Pie chart -->

    <!-- Doughnut Chart -->
    <script>
      $(document).ready(function(){
        var options = {
          legend: false,
          responsive: false
        };

        new Chart(document.getElementById("canvas1"), {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: {
            labels: [
              <% for(var i=0;i<diseaseList.length;i++) { %>
              "<%= diseaseList[i].disease_label %>",
              <% } %>
            ],
            datasets: [{
              data: [
                <% for(var i=0;i<diseaseList.length;i++) { %>
                <%= edds[edds.length -1].diseases[i].total_images %>,
                <% } %>
              ],
              backgroundColor: [
                <% for(var i=0;i<diseaseList.length;i++) { %>
                  "<%= diseaseList[i].disease_color %>",
                <% } %>
              ],
              hoverBackgroundColor: [
                <% for(var i=0;i<diseaseList.length;i++) { %>
                  "#" + Math.random().toString(16).slice(2, 8).toUpperCase(),
                <% } %>
              ]
            }]
          },
          options: options
        });
      });
    </script>
    <!-- /Doughnut Chart -->

    <!-- bootstrap-daterangepicker -->
    <script>
      $(document).ready(function() {

        var cb = function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        };

        var optionSet1 = {
          startDate: moment().subtract(29, 'days'),
          endDate: moment(),
          minDate: '01/01/2012',
          maxDate: '12/31/2015',
          dateLimit: {
            days: 60
          },
          showDropdowns: true,
          showWeekNumbers: true,
          timePicker: false,
          timePickerIncrement: 1,
          timePicker12Hour: true,
          ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          opens: 'left',
          buttonClasses: ['btn btn-default'],
          applyClass: 'btn-small btn-primary',
          cancelClass: 'btn-small',
          format: 'MM/DD/YYYY',
          separator: ' to ',
          locale: {
            applyLabel: 'Submit',
            cancelLabel: 'Clear',
            fromLabel: 'From',
            toLabel: 'To',
            customRangeLabel: 'Custom',
            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            firstDay: 1
          }
        };
        $('#reportrange span').html(moment().subtract(29, 'days').format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
        $('#reportrange').daterangepicker(optionSet1, cb);
        $('#reportrange').on('show.daterangepicker', function() {
          console.log("show event fired");
        });
        $('#reportrange').on('hide.daterangepicker', function() {
          console.log("hide event fired");
        });
        $('#reportrange').on('apply.daterangepicker', function(ev, picker) {
          console.log("apply event fired, start/end dates are " + picker.startDate.format('MMMM D, YYYY') + " to " + picker.endDate.format('MMMM D, YYYY'));
        });
        $('#reportrange').on('cancel.daterangepicker', function(ev, picker) {
          console.log("cancel event fired");
        });
        $('#options1').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet1, cb);
        });
        $('#options2').click(function() {
          $('#reportrange').data('daterangepicker').setOptions(optionSet2, cb);
        });
        $('#destroy').click(function() {
          $('#reportrange').data('daterangepicker').remove();
        });
      });
    </script>
    <!-- /bootstrap-daterangepicker -->

    <!-- gauge.js -->
    <script>
      var opts = {
          lines: 12,
          angle: 0,
          lineWidth: 0.4,
          pointer: {
              length: 0.75,
              strokeWidth: 0.042,
              color: '#1D212A'
          },
          limitMax: 'false',
          colorStart: '#1ABC9C',
          colorStop: '#1ABC9C',
          strokeColor: '#F0F3F3',
          generateGradient: true
      };
      var target = document.getElementById('foo'),
          gauge = new Gauge(target).setOptions(opts);

      gauge.maxValue = 6000;
      gauge.animationSpeed = 32;
      gauge.set(3200);
      gauge.setTextField(document.getElementById("gauge-text"));
    </script>
    <!-- /gauge.js -->
    <% } else { %>
      <div class="alert alert-warning">
        <strong><i class="fa fa-warning"></i> Warning!</strong> Authorized user only! Please <a href="/" class="alert-link">login</a> to access the system.
      </div>
    <% } %>
  </body>
</html>
