<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Eutech Disease Diagnosis Console</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- PNotify -->
    <link href="/vendors/pnotify/dist/pnotify.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
    <link href="/vendors/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  </head>

  <body class="nav-md">
    <% if(user) { %>
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><img src="/img/eutech_white_bw_trans.png" style="width:32pt"> <span>Eu-Tech EDDS</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="<%= user.local.gravatar %>" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Welcome,</span>
                <h2><%= user.local.firstname %></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/">EDDS Dashboard</a></li>
                      <% if(user.local.admin) { %>
                      <li><a href="/eutech/eucaImages">Image Dashboard</a></li>
                      <li><a href="/eutech/diseases">System Setup</a></li>
                      <% } %>
                      <!--<li><a href="index3.html">Dashboard3</a></li>-->
                    </ul>
                  </li>

                  <li><a><i class="fa fa-table"></i> Job Summary <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <% if(user.local.admin) { %>
                      <li><a href="/eutech/breedingJobs/">Screening Job (admin)</a></li>
                      <% } %>
                      <% if(user.local.staff) { %>
                      <li><a href="/eutech/breedingJobs/<%= user.local.email %>">Screening Job (staff)</a></li>
                      <% } %>
                      <% if(user.local.validator) { %>
                      <li><a href="/eutech/invalidatedImages">Invalidated Image Summary</a></li>
                      <% } %>
                      <!--<li><a href="tables_dynamic.html">Table Dynamic</a></li>-->
                    </ul>
                  </li>

                  <% if(user.local.admin) {%>
                  <li><a><i class="fa fa-gear"></i> System Management <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/users">Manage Users</a></li>
                    </ul>
                  </li>
                  <% } %>

                </ul>
              </div>
            </div>
                        <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="" role="navigation">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="<%= user.local.gravatar %>" alt=""><%= user.local.firstname %> <%= user.local.lastname %>
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="javascript:;"> Profile</a></li>
                    <li>
                      <a href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    </li>
                    <li><a href="javascript:;">Help</a></li>
                    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                  </ul>
                </li>

                <!--<li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="<%= user.local.gravatar %>" alt="Profile Image" /></span>
                        <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>See All Alerts</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>-->
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->

        <div class="right_col" role="main">
          <div class="">

            <div class="clearfix"></div>

            <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2><a href="/eutech/eucaImages"><i class="fa fa-arrow-circle-o-left"></i> Edit Eucalyptus Disease Details </h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Related Images</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td colspan="2">Processed image: <a href="/EucaPhoto/<%= eucaImage.filename %>" alt="<%= eucaImage.filename %>"><img src="/EucaPhoto/<%= eucaImage.filename %>" alt="<%= eucaImage.filename %>" style="width:120px;height:120px;"></a><br>
                      Original image: <a href="/EucaPhoto/<%= eucaImage.originalfilename %>" alt="<%= eucaImage.originalfilename %>"><%= eucaImage.originalfilename %></a><br>
                      Display image: <a href="/EucaPhoto/<%= eucaImage.displayfilename %>" alt="<%= eucaImage.displayfilename %>"><%= eucaImage.displayfilename %></a>
                    </td>
                  </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th>Details</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="fa fa-user"></i></td><td><%= eucaImage.submitter %></td>
                    </tr>

                  <tr>
                    <td><i class="fa fa-info-circle"></i></td>
                    <td>
                      <!--<form method="post" action="update"> -->
                        <label for="diseasetype">Disease type:</label>
                        <select class="selectpicker show-tick">
                          <% for(var i=0; i<diseaseLabel.length; i++) { %>
                            <option data-subtext="<%= diseaseLabel[i].disease_label %>"><%= diseaseLabel[i].disease_number %></option>
                            <%}%>
                        </select>
                        <script>
                        $(document).ready(function () {
                            $('.selectpicker').selectpicker('refresh');
                        })
                        </script>
                        <script>
                            $('.selectpicker').selectpicker({
                              style: 'btn',
                              liveSearch: true,
                              showSubtext: true
                            });
                            $('.selectpicker').selectpicker('val','<%= eucaImage.diseasetype %>');
                            $('.selectpicker').on('changed.bs.select', function (e) {
                              console.log("Select diseasetype changed! -> " + e.target.value);
                              if(e.target.value == '100')
                                new PNotify({
                                              title: 'Stage required!',
                                              text: 'This phaeo disease type must be trained with stage. Please select the corresponding stage from drop-down list before click update...',
                                              type: 'info',
                                              styling: 'bootstrap3'
                                          });
                                //toggleStageAlert();
                            });
                        </script>


                          <!--<label for="stage">Disease Type:</label>
                          <input type="hidden" class="form-control" id="diseasetype" name="diseasetype" value="<%=eucaImage.diseasetype %>">
                          <div class="btn-group">
                            <i class="dropdown-arrow dropdown-arrow-inverse"></i>
                            <button class="btn btn-primary diseasetype"> <%=eucaImage.diseasetype %></button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-inverse diseasetype">
                              <% for(var i=0; i<diseaseLabel.length; i++) {%>
                                <li><a href="#" data-value="<%= diseaseLabel[i].disease_number %>"><%= diseaseLabel[i].disease_label %></a></li>
                                <%}%>
                            </ul>
                            <script>
                            $('.diseasetype li > a').click(function(e){
                                $('.diseasetype').text(this.innerHTML);
                                document.getElementById('diseasetype').value = this.innerHTML;
                            });
                            </script>
                          </div> -->
                          <label for="stage">Stage: </label> <select class="stagepicker show-tick">
                              <option data-subtext=""> - </option>
                              <option data-subtext=""> 1 </option>
                              <option data-subtext=""> 2 </option>
                              <option data-subtext=""> 3 </option>
                              <option data-subtext=""> 4 </option>
                          </select>
                          <script>
                          $(document).ready(function () {
                              $('.stagepicker').selectpicker('refresh');
                          })
                          </script>
                          <script>
                              $('.stagepicker').selectpicker({
                                style: 'btn',
                                liveSearch: true,
                                showSubtext: true
                              });
                              $('.stagepicker').selectpicker('val','<%= eucaImage.stage %>');
                              $('.stagepicker').on('changed.bs.select', function (e) {
                                console.log("Select stage changed! -> " + e.target.value);
                                //toggleStageAlert();
                              });
                          </script>

                          <!--<input type="hidden" class="form-control" id="stage" name="stage" value="<%=eucaImage.stage %>">
                          <div class="btn-group">
                            <i class="dropdown-arrow dropdown-arrow-inverse"></i>
                            <button class="btn btn-primary stage"> <%=eucaImage.stage %></button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-inverse stage">
                                <li><a href="#" data-value="1">1</a></li>
                                <li><a href="#" data-value="2">2</a></li>
                                <li><a href="#" data-value="3">3</a></li>
                                <li><a href="#" data-value="4">4</a></li>
                                <li><a href="#" data-value="5">5</a></li>
                            </ul>
                            <script>
                            $('.stage li > a').click(function(e){
                                $('.stage').text(this.innerHTML);
                                document.getElementById('stage').value = this.innerHTML;
                            });
                            </script>
                          </div>-->
                          <label for="level">Level:<%=eucaImage.level%></label>
                          <!--<input type="hidden" class="form-control" id="level" name="level" value="<%=eucaImage.level %>">
                          <div class="btn-group">
                            <i class="dropdown-arrow dropdown-arrow-inverse"></i>
                            <button class="btn btn-primary level"> <%=eucaImage.level %></button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-inverse level">
                                <li><a href="#" data-value="-">-</a></li>
                                <li><a href="#" data-value="1">1</a></li>
                                <li><a href="#" data-value="2">2</a></li>
                                <li><a href="#" data-value="3">3</a></li>
                                <li><a href="#" data-value="4">4</a></li>
                                <li><a href="#" data-value="5">5</a></li>
                            </ul>
                            <script>
                            $('.level li > a').click(function(e){
                                $('.level').text(this.innerHTML);
                                document.getElementById('level').value = this.innerHTML;
                            });
                            </script>
                          </div>-->
                          (Disease area: <%= eucaImage.area %>%)
                          <button id="button-update" class="btn btn-info" type="submit">Update</button> <% if(eucaImage.retrain_needed && (eucaImage.retrain_status != "done")) {%>
                            <button id="button-retrain" class="btn btn-warning" onclick="javascript:callRetrain()"><%= eucaImage.retrain_status %></button> <% } %>
                        </div>
                        <script>
                        $('#button-update').on('click', function (e) {
                          var val =  $('.selectpicker option:selected').val();
                          var stageVal = $('.stagepicker option:selected').val();
                          console.log("Stage val => " + stageVal);
                          $.post("/eutech/eucaImages/<%= eucaImage.imageId %>/update_disease/"+val+"/"+stageVal, function (data) {
                            location.reload();
                          });

                          })
                        </script>
                        <script>
                        function callRetrain(){
                          document.getElementById("button-retrain").disabled = true;
                          document.getElementById("button-retrain").innerText = "training";
                          var url = "/runRetrain/<%= eucaImage.imageId %>/" + $('.selectpicker option:selected').val() + "/" + $('.stagepicker option:selected').val();
                          $.get(url, function (data) {
                            console.log("Retrain status recieved -> " + data);
                            location.reload();
                          });
                        }
                        </script>
                      <!--</form>-->
                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check-circle"></td>
                    <td>
                      <% if(!eucaImage.validated) {%>
                      <button class="btn btn-warning update_validate" id="<%= eucaImage.imageId %>">Invalidated</button>
                      <% }else{ %>
                      <button class="btn btn-success update_validate" id="<%= eucaImage.imageId %>">Validated</button>
                      <% } %>
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                      <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

                      <!-- bootbox code -->
                      <script src="/lib/bootbox.min.js"></script>
                      <script>
                          $(document).on("click", ".update_validate", function(e) {
                              var imageId = ($(this).attr('id'));
                              if(!<%= eucaImage.validated %>){
                                bootbox.confirm({
                                  message: "Validate image " + imageId + "?",
                                  buttons: {
                                      confirm: {
                                          label: 'Yes',
                                          className: 'btn-success'
                                      },
                                      cancel: {
                                          label: 'No',
                                          className: 'btn-default'
                                      }
                                  },
                                  callback: function (result) {
                                      //console.log('This was logged in the callback: ' + result);
                                      if(result)
                                      {
                                        $.post("/eutech/eucaImages/"+imageId + "/validate/true/<%= user.local.email %>", function (data) {
                                          location.reload();
                                        });
                                    }
                                  }
                              });
                            }
                            else{
                              bootbox.confirm({
                                message: "Invalidate image " + imageId + "?",
                                buttons: {
                                    confirm: {
                                        label: 'Yes',
                                        className: 'btn-warning'
                                    },
                                    cancel: {
                                        label: 'No',
                                        className: 'btn-default'
                                    }
                                },
                                callback: function (result) {
                                    //console.log('This was logged in the callback: ' + result);
                                    if(result)
                                    {
                                      $.post("/eutech/eucaImages/"+imageId + "/validate/false/<%= user.local.email %>", function (data) {
                                        location.reload();
                                      });
                                  }
                                }
                            });
                            }

                          });
                      </script>


                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-calendar"></i></td><td><%= moment(eucaImage.submit).format('DD MMM YYYY - HH:mm:ss') %></td>
                  </tr>
                  <!--<tr>
                    <td><img src="/img/ic_image_black_48dp.png" alt="<%= eucaImage.filename %>" style="width:24px;height:24px;"></td><td><%= eucaImage.filename %></td>
                  </tr> -->
                  <tr>
                    <td><i class="fa fa-list-alt"></i></td><td><%= eucaImage.imageId %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-bars"></i></td><td><%= eucaImage.jobId %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-clock-o"></i></td><td><%= eucaImage.elapsetime %> s</td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-pencil-square"></i></td><td><%= moment(eucaImage.lastedit).format('DD MMM YYYY - HH:mm:ss') %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-map-marker"></td><td><%= eucaImage.latitude %>, <%= eucaImage.longitude%></td>
                  </tr>
                  </tbody>
                </table>            </div>
            <div id="map" class="col-md-12 col-sm-12 col-xs-12" style="height:480px;"></div>
                <script>
                  function initMap() {
                    var uluru = {lat: <%= eucaImage.latitude %>, lng: <%= eucaImage.longitude %>};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 14,
                      center: uluru,
                      mapTypeId: google.maps.MapTypeId.HYBRID
                    });
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                    });
                  }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZMl1Skv6erYMgU987giM5GZ24f2OpkGU&callback=initMap">
                </script>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->



    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>
    <!-- Datatables -->
    <script src="/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="/vendors/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- PNotify -->
    <script src="/vendors/pnotify/dist/pnotify.js"></script>
    <script src="/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>

    <!-- PNotify -->
    <script>
      $(document).ready(function() {
        //console.log("Trying PNotify...");
        if(<%= eucaImage.retrain_needed && (eucaImage.retrain_status != 'done') %>)
        {
          new PNotify({
            title: "Retrain needed!",
            type: "warning",
            text: "This image's disease type has been updated, this means the previous classified result will be overwritten. Click retrain button to retrain this image with the latest update...",
            nonblock: {
                nonblock: true
            },
            //addclass: 'dark',
            styling: 'bootstrap3',
            hide: false,
            before_close: function(PNotify) {
              PNotify.update({
                title: PNotify.options.title + " - Enjoy your Stay",
                before_close: null
              });

              PNotify.queueRemove();

              return false;
            }
          });
        }
      });
    </script>
    <!-- /PNotify -->

    <!-- Datatables -->
    <script>
      $(document).ready(function() {
        var handleDataTableButtons = function() {
          if ($("#datatable-buttons").length) {
            $("#datatable-buttons").DataTable({
              dom: "Bfrtip",
              buttons: [
                {
                  extend: "copy",
                  className: "btn-sm"
                },
                {
                  extend: "csv",
                  className: "btn-sm"
                },
                {
                  extend: "excel",
                  className: "btn-sm"
                },
                {
                  extend: "pdfHtml5",
                  className: "btn-sm"
                },
                {
                  extend: "print",
                  className: "btn-sm"
                },
              ],
              responsive: true
            });
          }
        };

        TableManageButtons = function() {
          "use strict";
          return {
            init: function() {
              handleDataTableButtons();
            }
          };
        }();

        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({
          keys: true
        });

        $('#datatable-responsive').DataTable();

        $('#datatable-scroller').DataTable({
          ajax: "/js/datatables/json/scroller-demo.json",
          deferRender: true,
          scrollY: 380,
          scrollCollapse: true,
          scroller: true
        });

        var table = $('#datatable-fixed-header').DataTable({
          fixedHeader: true
        });

        TableManageButtons.init();
      });
    </script>
    <!-- /Datatables -->
    <% } else { %>
      <div class="alert alert-warning">
        <strong><i class="fa fa-warning"></i> Warning!</strong> Authorized user only! Please <a href="/" class="alert-link">login</a> to access the system.
      </div>
    <% } %>

  </body>
</html>
